[submodule "apps/playwright-mcp"]
	path = apps/playwright-mcp
	url = https://github.com/microsoft/playwright-mcp.git
[submodule "apps/apollo-mcp"]
	path = apps/apollo-mcp
	url = https://github.com/apollographql/apollo-mcp-server.git
[submodule "tools/localhost-kong-helper"]
	path = tools/localhost-kong-helper
	url = https://github.com/dv01-inc/dv01-shell-api-gateway.git
